#!/usr/bin/env python3

GAMES = {
    'first_game': {
        'base_path': '/home/user/first_game',
        'input_dir': 'input',
        'working_dir': 'working',
        'output_dir': 'output',
        'input_name_format': '{user}-{attempt}.xml',
        'output_name_format': '{user}-{attempt}-results.xml',
        'resources': {
            'parameters': 'parameters.xml'
        }
    },
    'second_game': {
        'base_path': '/home/user/second_game',
        'input_dir': 'input',
        'working_dir': 'working',
        'output_dir': 'output',
        'input_name_format': '{user}-{attempt}.xml',
        'output_name_format': '{user}-{attempt}-results.xml',
        'resources': {
            'missions': 'missions.xml'
        }
    }
}
